<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="/">Return to Home page</a>
    <div class="create-message">
        <form action="/newmessage" method="POST">
          <label for="title">Title:</label>
          <input type="text" name="title" required placeholder="Enter a title for your message">
          <label for="message">Message:</label>
          <textarea name="message" required placeholder="Enter a message"></textarea>
          <button>Submit</button>
        </form>
      </div>
</body>
</html>