<html lang="en">
    <%- include("./partials/header.ejs") %>
<body>
    <h1>All messages</h1>
    <div class="container">
       
        <% if (messages.length>0){ %>
            <% messages.forEach(message =>{ %>
            <div class="messages">    
                <h2>User: <%= message.nombre %> </h2>
                <p>Message: <%= message.mensaje %></p>
                <p>Date of post: <%= message.fecha_mensaje%></p>
                
            </div>
            <% }) %>    
        <% }else { %>
            <p>There is no message yet to display</p>
        <% } %>
       
    </div>
    <button><a href="/new">Add a new message</a></button>
</body>
</html>