<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    <a href="/">Return to Home page</a>
    <div class="create-blog content">
        <form action="/new" method="POST">
          <label for="username">Username:</label>
          <input type="text" name="nombre" required placeholder="Enter username">
          <label for="message">Message:</label>
          <textarea name="mensaje" required placeholder="Enter a message"></textarea>
          <button>Submit</button>
        </form>
      </div>
</body>
</html>