body{
    margin :0;
}

h1{
    text-align: center;
}

.register,
.login,
.upload
{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.inicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input{
    display: block;
    width: 350px;
    margin: 10px 0;
    padding: 8px;
}

button{
     margin-top: 20px;
     color: white;
     padding: 8px;
     border: 0;
     border-radius: 10px;
     cursor: pointer;
     background-color: blueviolet;

}

button a{
      color: white;
      text-decoration: none;
    }

.field-error{
    border: 1px solid #ff4d4d;
    color: #b30000;
    padding: 8px;
    border-radius: 5px;
    margin: 10px 0;
    list-style: disc inside;
}


table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 1rem;
    }
    th, td {
      padding: 0.75rem;
      border: 1px solid #ccc;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }